{% assign section_id = "#shopify-section-" | append: section.id %}

<style>
  {{ section_id }} .container {
    max-width: 1440px;
    padding: 10px;
  }

  {{ section_id }} .mx-auto {
    margin-inline: auto;
  }

  {{ section_id }} .logo-text-button-wrapper h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 16px 0px 8px 0px;
    color: #4CAF4F;
  }

  {{ section_id }} .logo-text-button-wrapper p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #717171;
    margin: 0px;
  }

  {{ section_id }} .content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 78px;
    justify-content: space-between;
    padding: 32px 0px;
  }

  {{ section_id }} .logo-button-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    height: 48px;
    gap: 20px;
  }

  {{ section_id }} .logo-wrapper {
    display: flex;
    flex-direction: row;
    gap: 41px;
  }

  {{ section_id }} .button-wrapper {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #4CAF4F;
  }

  {{ section_id }} .view-more-btn {
    text-decoration: none;
    display: flex;
    color: #4CAF4F;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  {{ section_id }} .view-more-btn span {
    display: flex;
    height: 28px;
    flex-direction: row;
    align-items: center;
  }

</style>


<div class="image-text-logo-section">
  <div class="container mx-auto">
    <div class="content-wrapper">
      <div class="media-wrapper">
          {% if section.settings.image_id %}
            {{ section.settings.image_id | image_url: width: 325.99 | image_tag }}
          {% endif %}
      </div>
      <div class="logo-text-button-wrapper">
        <p>
          {{ section.settings.rich_text }}
        </p>

      <div class="logo-button-wrapper">
        <div class="logo-wrapper">
          {% for block in section.blocks %}
            <div class="logo">
              {% if block.settings.logo_id %}
                {{ block.settings.logo_id | image_url: width: 48 | image_tag }}
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="button-wrapper">
          {% if section.settings.button_logo %}
            <a href="{{ section.settings.button_link }}" class="view-more-btn">{{ section.settings.button_text }}<span>{{ section.settings.button_logo | image_url: width: 24 | image_tag }}</span></a>
          {% endif %}
        </div>
      </div>

      

      </div>

      

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Text Logo",
  "settings": [
    {
     "type": "image_picker",
     "id": "image_id",
     "label": "image_id"
    },
    {
     "type": "richtext",
      "id": "rich_text",
      "label": "Description Text"
    },
    {
     "type": "image_picker",
     "id": "button_logo",
     "label": "Button Logo"
    },
    {
     "type": "text",
     "id": "button_text",
     "label": "Button Text"
    },
    {
     "type": "url",
     "id": "button_link",
     "label": "Button Link"
    }
  ], 
  "blocks": [
      {
       "type": "logo",
       "name": "logo",
       "settings": [
          {
           "type": "image_picker",
           "id": "logo_id",
           "label": "Logo"
          }
        ]
      }
      ],
  "presets": [
    {
      "name": "Image with Text and Logo"
    }
  ]
}

{% endschema %}